</main>
          <div style="margin-top: 20px; background: #ffffff; padding: 15px 20px; border-radius: 20px;">
            <h2>¿Necesitas ayuda?</h2>
            <table style="width: 100%">
              <tr>
                <td class="responsive-table responsive-3-4" style="vertical-align: middle">
                  <table style="width: 100%; border-collapse: collapse">
                    <tr>
                      <td style="vertical-align: middle">
                        <a href="">
                          <img
                            src=""
                            style="height: 35px; width: 35px; vertical-align: middle; margin-right: 5px;"
                          />
                        </a>
                      </td>
                      <td style="vertical-align: middle">
                        <p style="margin: 0">
                          Contáctate con servicio al cliente, ¡estamos disponibles para solventar cualquier duda!
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="responsive-table responsive-1-4" style="vertical-align: middle">
                  <p style="margin: 0">
                    <span style="font-weight: 700">Síguenos en:</span>
                  </p>
                  <table style="margin-top: 5px">
                    <tr>
                      <td>
                        <a href="">
                          <img src="" style="height: 35px" />
                        </a>
                      </td>
                      <td>
                        <a href="">
                          <img src="" style="height: 35px; margin-left: 5px" />
                        </a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div style="background: #161e29; margin-top: 20px; padding: 25px 0;">
        <table style="width: 100%;">
          <tr>
            <td style="vertical-align: middle; text-align: center;">
              <img src="" style="height: 40px;" alt="Shopby Logo" />
              <p style="color: #ffffff; margin: 8px 0 0 0; font-size: 14px;">shopby.com.ec</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>