<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet" />

    <style type="text/css">
        body {
            font-family: "Gantari", sans-serif;
            margin: 0 auto;
            padding: 0;
            box-sizing: border-box;
            background: #f3f4f6;
            width: 100%;
            max-width: 600px;
        }

        h1,
        h2,
        h3,
        p {
            margin: 0;
        }

        p {
            font-size: 15px;
        }

        a {
            text-decoration: none;
        }

        small {
            font-size: 12px;
            color: #a0a0a0;
        }

        .main-content-container {
            display: flex;
            align-items: center;
            gap: 20px;
            justify-content: space-between;
        }

        .card {
            background: #ffffff;
            padding: 15px 20px;
            border-radius: 20px;
        }

        .muted {
            background: #ffffff;
        }

        .gradient-button {
            background: linear-gradient(90deg, #325ffc 0%, #d53779 100%);
            border: none;
            color: white;
            padding: 8px 50px;
            cursor: pointer;
            border-radius: 50px;
            font-size: 14px;
            font-weight: 500;
        }

        .test {
            border: 2px solid red;
        }

        .bold {
            font-weight: 700;
        }

        .text-center {
            text-align: center;
        }

        .footer-background {
            background: #06050d;
        }

        @media only screen and (max-width: 450px) {
            .genio {
                height: 100px;
            }

            .info-container {
                width: 75%;
            }

            .genio-container {
                width: 25%;
            }

            .responsive-table {
                display: block;
                margin: 10px 0;
                width: 100%;
            }
        }

        @media only screen and (min-width: 450px) {
            .genio {
                height: 250px;
            }

            .info-container {
                width: 50%;
            }

            .genio-container {
                width: 50%;
            }

            .responsive-3-4 {
                width: 75%;
            }

            .responsive-1-4 {
                width: 25%;
            }
        }
    </style>
</head>

<body
    style="margin: 0 auto; box-sizing: border-box; background: #f3f4f6; width: 100%; max-width: 700px; color: #06050d;">
    <div style="padding: 10px 20px 0 20px">
        <div>
            <table>
                <tr>
                    <td>
                        <img src=""
                            style="width: 50px; height: 50px" />
                    </td>
                    <td>
                        <img src=""
                            style="height: 35px" />
                    </td>
                </tr>
            </table>

            <div>
                <main>