{{> header }}

<p>Hola, {{user}}</p>
<p>{{message}}</p>

<div class="otp-code">
  <h2>{{otp}}</h2>
</div>

<p>Este código es válido por 10 minutos.</p>
<p>Si no solicitaste este código, puedes ignorar este correo de forma segura.</p>

{{> footer }}